
@font-face {
    font-family: 'scrambleregular';
    src: url('./fonts/scramble-kvbe-webfont.woff2') format('woff2'),
         url('./fonts/scramble-kvbe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brady Bunch Remastered';
    src: url('./fonts/Brady\ Bunch\ Remastered.woff2') format('woff2'),
         url('./fonts/Brady\ Bunch\ Remastered.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url('./img/BG.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Brady Bunch Remastered';
    font-size: 5.6rem;
    letter-spacing: 1pt;
    font-weight: bold;
    padding: 0;
    margin: 0px;

}
h2{
    font-family: 'scrambleregular';
    font-size: 4rem;
    padding: 0;
    margin: 10px;
}
.small{
    position: absolute;
    margin: -10px 0 0 -58px;
    transform-origin: 0 0;
    font-size: 3rem;
    transform: rotate(-13deg);
}
.scrabble-letter{
    margin: 1px;
    background-color: rgb(235, 195, 66);
    border-radius: 10px;
    overflow: hidden;

}
.outline{
    color: black;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
#game-pieces{
    margin: 50px auto;
    display: flex;
    width: 100vw;
    height: 120px;
    justify-content: space-around;

}
.game-piece{
    width: 10%
}
#ace, #spade{
    position: relative;
}
#ace{
    height: 105%;
    z-index: 2;
}
#spade{
    height: 100%;
    z-index: 1;
    left: 50px;
    top: -100px;
}
#die{
    width: 70%;
}
#tile{
    width: 110%
}
#info{
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 100vw;
    padding: 18px;
}
p{
    width: 60%;
    margin: auto;


}
#date-time{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#day{
    font-family: 'Brady Bunch Remastered';
    font-size: 6rem;
    letter-spacing: 1pt;
    padding: 0;
    margin: 0;
}
#date{
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 18px;
    display:block;
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
#time{
    display:block;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
#place{
    display:block;
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    margin-bottom: 18px;
}
#map-outer{
    background-color: #000;
    width: 100vw;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}