
@font-face {
    font-family: 'scrambleregular';
    src: url('./fonts/scramble-kvbe-webfont.woff2') format('woff2'),
         url('./fonts/scramble-kvbe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brady Bunch Remastered';
    src: url('./fonts/Brady\ Bunch\ Remastered.woff2') format('woff2'),
         url('./fonts/Brady\ Bunch\ Remastered.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url('./img/BG.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top:5%;
    font-size: 12pt;
}
.parallax{
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10% 0;
    padding: 2% 0;
    padding-top:5%;
    font-size: 12pt;
    min-height:300px;
}
.parallax>div, .parallax>h1, .parallax>h2{
    position:fixed;
}
h1{
    font-family: 'Brady Bunch Remastered';
    font-size: 5.6rem;
    letter-spacing: 1pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
    top: 10%;

}
h2{
    font-family: 'scrambleregular';
    font-size: 3.5rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    text-align: center;
    top: 30%
}
.small{
    position: absolute;
    margin: -3% 0 0 -10%;
    transform-origin: 0 0;
    font-size: 3rem;
    transform: rotate(-13deg);
}
.scrabble-letter{

    background-color: rgb(219, 193, 108);
    border-radius: 10px;
    overflow: hidden;

}
.outline{
    color: black;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
#game-pieces{
    top: 55%;
    margin: 4% 0;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:  repeat(4,  minmax(max-content, 20%));
    width: 80vw;
    height: 100px;
}
.game-piece{
    height: 90%;
    margin: 0px;
}
#meeple{
    padding-top: 8%;
    height: 65%;
    animation: rotate4 3s ease 4 alternate;
}
#ace, #spade{
position: relative;
grid-column: 1;
}
#ace{
    height: 134px;
    z-index: 2;
    left: 20px;
    transform-origin: 40px 20px;
    animation: rotate1 3s ease 4;
}
#spade{
    height:130px;
    z-index: 1;
    right: 20px;
    animation: rotate2 3s ease 4;
}
#die{
    height: 54%;
    animation: rotate2 3s ease 4;
}
#tile{
    height: 80%;
    grid-column: 2;
    animation: rotate3 3s ease 4;
}
#info{
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 100vw;
    padding: 40px 0;
    z-index:3;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.7);
-moz-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.7);
box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.7);
}
p{
    width: 60%;
    margin: auto;
    font-weight: 300;


}
#event{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin:0;
    margin-top:20px;
    padding:0;
    z-index: 2;
    background-color: rgb(84, 42, 233);
    width: 100vw;
}
#date-time{
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 3% 0 0 0;
    display: flex;
    gap: 10px;
    width: 100vw;
}
#day{
    font-family: 'Brady Bunch Remastered';
    font-size: 6rem;
    letter-spacing: 1;
    padding: 0;
    margin: 0;
}
#date{
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 18px;
    display:block;
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
#time{
    display:block;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
#place{
    display:block;
    font-size: 2rem;
    line-height: 1.2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    width: 100vw;
    text-align: center;
    padding: 0 0 4% 0;
}
#map-outer{
    z-index:2;
    background-color: #000;
    width: 100vw;
    padding: 0%;
    border-top: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
@media screen and (max-width: 600px) {
   h1{
      font-size: 4rem;
   }
    .small{
        font-size: 2rem;
    }
    h2{
        font-size: 2.8rem;
        top:25%;
    }
    .parallax{
        margin: 0 0 5% 0;
    }
    #game-pieces{
        top:47%
    }
    .game-piece{
        height: 80%;
    }
    #ace{
        height: 94px;
    }
    #spade{
        height:90px;
    }
    p{
        width: 70%;
        margin: auto;
    }
    #date-time{
        margin-top: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    #day{
        font-size: 4.5rem;
    }
    #date{
        margin-top: 18px;
        font-size: 2rem;
    }
    #time{
        font-size: 1.5rem;
    }
    #place{
        font-size: 1.3rem;
        letter-spacing: 1pt;
        font-weight:500;
    }
  }
  @media screen and (max-width: 450px) {
    h2{
        font-size: 2rem;
    }
    #game-pieces{
        margin: 2% 0;
        grid-template-columns:  repeat(4,  minmax(max-content, 20%));
        width: 95vw;
        height: 50px;
        }
     #ace{
         height: 64px;
     }
     #spade{
         height:60px;
     }
     #day{
         font-size: 3.5rem;
     }
     #date{
         margin-top: 18px;
         font-size: 1.4rem;
     }
     #time{
         font-size: 1.4rem;
     }
     #place{
         font-size: 1.15rem;
         letter-spacing: 1pt;
     }
     p{
        width:80%;
     }
   }
   .animate-down {
    animation: drop 3s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  }

  @keyframes drop {
    0% {
      transform:translateY(-100px);

    }
    60% {
        transform:translateY(-100px);
      }

    90% {
        transform:translateY(8px);
    }
    95% {
        transform:translateY(-5px);
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-13deg);
    }
}  
  @keyframes rotate1 {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(40deg);
    }
    100% {
        transform:rotate(0);
    }
}  
  @keyframes rotate2 {
    0% {
      transform: rotate(33deg);
    }
    40% {
      transform: rotate(0deg);
    }
    100% {
        transform:rotate(33deg);
    }
  }
  @keyframes rotate3 {
    0% {
      transform: rotate(0deg);
    }
    45% {
      transform: rotate(180deg);
    }
    100% {
        transform:rotate(360deg);
    }
  }
  @keyframes rotate4 {
    0% {
      transform: rotate(8deg);
    }
    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform:rotate(-30deg);
    }
  }